
RewriteEngine on
RewriteCond %{HTTP_HOST} ^mail.vishalpaints.com$ [OR]
RewriteCond %{HTTP_HOST} ^www.mail.vishalpaints.com$
RewriteRule ^/?$ "http\:\/\/mail\.google\.com\/a\/vishalpaints\.com\/" [R=301,L]

